<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.9" targetFramework="net40" developmentDependency="true" />
  <package id="OpenTK.Next" version="1.2.2336.6514-pre" targetFramework="net40" />
  <package id="SharpFont" version="3.1.0" targetFramework="net40" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net40" />
</packages>