source https://www.nuget.org/api/v2

nuget OpenTK
nuget SharpFont >= 4.0
nuget SharpFont.Dependencies >= 2.6

group Build
source https://www.nuget.org/api/v2/

nuget FAKE

group Deploy
source https://www.nuget.org/api/v2

nuget Brutal.Dev.StrongNameSigner